---
import Layout from "../layouts/Layout.astro";
import CourseList from "../components/courses/CourseList.astro";
import {
  academindCourseData,
  bonusCourseData,
  coltSteeleCourseData,
  frontendMastersCourseData,
  readingCourseData,
  zeroToMasteryCourseData,
} from "../components/courses/course-list-data";
---

<Layout>
  <main class="prose">
    <h1>Recommended Courses</h1>
    <p>
      This list is meant as a way to provide a straightforward curriculum of
      what you need to learn for development. It's updated constantly, but at
      any given point in time, I believe this is the best way to get started
      with, and learn everything you need to know to work with the web and
      beyond.
    </p>
    <p>
      These courses will take a while to get through, so I do recommend signing
      up for Pro accounts instead of buying one-time courses. So in the beginner
      section, check out Udemy Pro. Keep going with Udemy Pro for Academind's
      courses. Once you're through those, cancel it, move on to the next
      platform, and so on.
    </p>
    <div class="join join-vertical w-full">
      <CourseList title="Beginner: Colt Steele" courses={coltSteeleCourseData}>
        <p>
          I believe Colt Steele is the most beginner-friendly instructor out
          there. He's interesting, knowledgeable, and approaches topics in an
          easy-to-digest way. Colt Steele has brought his developer bootcamp to
          Udemy and continues to update it every year with modern technology.
        </p>
        <p>
          <a href="https://www.udemy.com/user/coltsteele/" target="_blank"
            >Colt Steele courses</a
          >
        </p>
        <p>
          Take as many of his courses as you like, but at a minimum, I highly
          recommend taking these:
        </p>
      </CourseList>
      <CourseList
        title="Learn to Build: Academind"
        courses={academindCourseData}
      >
        <p>
          Academind has long been a great source for following along with
          projects for multiple frameworks. Which is an excellent way to get an
          introduction to all of a frameworks features.
        </p>
        <p>
          Academind has its own paid subscription, but most, if not all, the
          courses are also available on Udemy. I recommend going through their
          learning paths, but take as many courses as you like:
        </p>
        <p><a href="https://academind.com/" target="_blank">Academind</a></p>
      </CourseList>
      <CourseList
        title="Learn the Web: Frontend Masters"
        courses={frontendMastersCourseData}
      >
        <p>
          Frontend Masters has world-class instructors leading lecture style
          workshops on just about everything.
        </p>
        <p>
          I recommend simply just following the learning paths, even the
          beginner and professional paths that will feel below your skill level
          at this point. There is still a lot of good to pick up. However, I
          would avoid the framework courses (React/Angular/Vue). Frontend
          Masters and its community is notably anti-framework. This isn't the
          place you want to learn about industry tooling. But their deep dives
          into vanilla tech will make you a better user of frameworks.
        </p>
        <p>
          <a href="https://frontendmasters.com/learn/" target="_blank"
            >Frontend Masters</a
          >
        </p>
      </CourseList>
      <CourseList
        title="Broaden Your SkillSet: Zero to Mastery"
        courses={zeroToMasteryCourseData}
      >
        <p>
          Through sheer quantity, Zero to Mastery is a great resource to keep
          your learning going. The quality of instructor here starts to degrade
          compared to previous courses, the content is very well put together.
        </p>
        <p>
          <a href="https://zerotomastery.io/" target="_blank">Zero to Mastery</a
          >
        </p>
      </CourseList>
      <CourseList title="Bonus" courses={bonusCourseData}
        ><p>
          For the most part, I recommend avoiding courses that charge too much
          money. $300 is way too much. Part of the reason I recommended
          Academind is they've kept reasonable pricing in an environment where
          instructors expect to pump out low quality courses at the end of the
          year targeting "use it or lost it" company stipends.
        </p>
        <p>
          The following courses are entirely optional but recommended due to a
          quality unmatched. But the pricing may be too much.
        </p>
      </CourseList>
      <CourseList title="Reading" courses={readingCourseData}
        ><p>
          I always recommend keeping up to date with recently published books in
          the field. Here are my recommended publishers and authors:
        </p>
      </CourseList>
    </div>
  </main>
</Layout>
