---
import {Image} from "astro:assets";
import type {ImageMetadata} from "astro";
import {v7} from 'uuid';
import {twMerge} from "tailwind-merge";

type Props = {
    alt: string;
    src: ImageMetadata;
    imgClass?: string;
}

const {alt, src, imgClass} = Astro.props;
const id = `modal${v7().replaceAll('-', '')}`;
---

<button class="relative w-full h-auto overflow-hidden" onclick={`${id}.showModal()`}>
    <Image
            class={twMerge("size-full object-contain", imgClass)}
            src={src}
            alt={alt}
    />
</button>
<dialog id={id} class="modal">
    <div class="modal-box p-0 max-w-none w-11/12">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <Image
                class="size-full object-contain m-0"
                src={src}
                alt={alt}
        />
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>