---
type Props = {
  title: string;
  courses: {
    name: string;
    url: string;
  }[];
};

const { title, content, courses } = Astro.props;
---

<div class="collapse collapse-arrow join-item border-base-300 border">
  <input type="radio" name="courses-accordion" aria-labelledby={title} />
  <div class="collapse-title text-xl font-medium" id={title}>
    {title}
  </div>
  <div class="collapse-content">
    <slot />
    <ol>
      {
        courses.map((course) => {
          return (
            <li>
              <a target="_blank" href={course.url}>
                {course.name}
              </a>
            </li>
          );
        })
      }
    </ol>
  </div>
</div>
